@-webkit-keyframes search {
  0% {
    -webkit-transform: translate(3px, 0px);
  }
  5% {
    -webkit-transform: translate(2.85316955px, 0.92705098px);
  }
  10% {
    -webkit-transform: translate(2.42705098px, 1.76335576px);
  }
  15% {
    -webkit-transform: translate(1.76335576px, 2.42705098px);
  }
  20% {
    -webkit-transform: translate(0.92705098px, 2.85316955px);
  }
  25% {
    -webkit-transform: translate(0px, 3px);
  }
  30% {
    -webkit-transform: translate(-0.92705098px, 2.85316955px);
  }
  35% {
    -webkit-transform: translate(-1.76335576px, 2.42705098px);
  }
  40% {
    -webkit-transform: translate(-2.42705098px, 1.76335576px);
  }
  45% {
    -webkit-transform: translate(-2.85316955px, 0.92705098px);
  }
  50% {
    -webkit-transform: translate(-3px, 0px);
  }
  55% {
    -webkit-transform: translate(-2.85316955px, -0.92705098px);
  }
  60% {
    -webkit-transform: translate(-2.42705098px, -1.76335576px);
  }
  65% {
    -webkit-transform: translate(-1.76335576px, -2.42705098px);
  }
  70% {
    -webkit-transform: translate(-0.92705098px, -2.85316955px);
  }
  75% {
    -webkit-transform: translate(0px, -3px);
  }
  80% {
    -webkit-transform: translate(0.92705098px, -2.85316955px);
  }
  85% {
    -webkit-transform: translate(1.76335576px, -2.42705098px);
  }
  90% {
    -webkit-transform: translate(2.42705098px, -1.76335576px);
  }
  95% {
    -webkit-transform: translate(2.85316955px, -0.92705098px);
  }
  100% {
    -webkit-transform: translate(3px, 0px);
  }
}
@keyframes search {
  0% {
    -webkit-transform: translate(3px, 0px);
            transform: translate(3px, 0px);
  }
  5% {
    -webkit-transform: translate(2.85316955px, 0.92705098px);
            transform: translate(2.85316955px, 0.92705098px);
  }
  10% {
    -webkit-transform: translate(2.42705098px, 1.76335576px);
            transform: translate(2.42705098px, 1.76335576px);
  }
  15% {
    -webkit-transform: translate(1.76335576px, 2.42705098px);
            transform: translate(1.76335576px, 2.42705098px);
  }
  20% {
    -webkit-transform: translate(0.92705098px, 2.85316955px);
            transform: translate(0.92705098px, 2.85316955px);
  }
  25% {
    -webkit-transform: translate(0px, 3px);
            transform: translate(0px, 3px);
  }
  30% {
    -webkit-transform: translate(-0.92705098px, 2.85316955px);
            transform: translate(-0.92705098px, 2.85316955px);
  }
  35% {
    -webkit-transform: translate(-1.76335576px, 2.42705098px);
            transform: translate(-1.76335576px, 2.42705098px);
  }
  40% {
    -webkit-transform: translate(-2.42705098px, 1.76335576px);
            transform: translate(-2.42705098px, 1.76335576px);
  }
  45% {
    -webkit-transform: translate(-2.85316955px, 0.92705098px);
            transform: translate(-2.85316955px, 0.92705098px);
  }
  50% {
    -webkit-transform: translate(-3px, 0px);
            transform: translate(-3px, 0px);
  }
  55% {
    -webkit-transform: translate(-2.85316955px, -0.92705098px);
            transform: translate(-2.85316955px, -0.92705098px);
  }
  60% {
    -webkit-transform: translate(-2.42705098px, -1.76335576px);
            transform: translate(-2.42705098px, -1.76335576px);
  }
  65% {
    -webkit-transform: translate(-1.76335576px, -2.42705098px);
            transform: translate(-1.76335576px, -2.42705098px);
  }
  70% {
    -webkit-transform: translate(-0.92705098px, -2.85316955px);
            transform: translate(-0.92705098px, -2.85316955px);
  }
  75% {
    -webkit-transform: translate(0px, -3px);
            transform: translate(0px, -3px);
  }
  80% {
    -webkit-transform: translate(0.92705098px, -2.85316955px);
            transform: translate(0.92705098px, -2.85316955px);
  }
  85% {
    -webkit-transform: translate(1.76335576px, -2.42705098px);
            transform: translate(1.76335576px, -2.42705098px);
  }
  90% {
    -webkit-transform: translate(2.42705098px, -1.76335576px);
            transform: translate(2.42705098px, -1.76335576px);
  }
  95% {
    -webkit-transform: translate(2.85316955px, -0.92705098px);
            transform: translate(2.85316955px, -0.92705098px);
  }
  100% {
    -webkit-transform: translate(3px, 0px);
            transform: translate(3px, 0px);
  }
}
