@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote,
p {
  margin: 0;
  padding: 0;
  resize: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
}
ul {
  list-style: none;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup,
b,
i,
h1 {
  font-style: inherit;
  font-weight: inherit;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
html {
  background: #fff;
  font-family: Helvetica;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
a {
  text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="search"],
input[type="number"],
input[type="text"],
input[type="button"],
input[type="password"],
input[type="submit"],
select,
input[type="checkbox"] {
  -webkit-appearance: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  border-width: 0px;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
body {
  color: #333333;
}
.container {
  position: relative;
  width: 100%;
  max-width: 640px;
  background: #f6f6f6;
  margin: 0 auto;
}
.ui-main-btn-box {
  height: 10rem;
  width: 100%;
  background-image: url('../images/mainbg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 2rem;
  box-sizing: border-box;
}
.ui-main-btn-box-short {
  height: 8rem;
}
.ui-main-btn {
  display: block;
  position: relative;
  width: 5.1rem;
  margin: 0 auto;
  line-height: 1.5rem;
  background-image: url('../images/maincontent.png');
  background-size: 5.1rem;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 5.1rem;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.ui-main-btn:before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../images/search.png);
  width: 1.875rem;
  height: 1.875rem;
  background-size: 1.875rem;
  z-index: 1;
  right: 0;
  top: 3.25rem;
  -webkit-animation: search 1s infinite;
  animation: search 1s infinite;
}
.ui-server-header {
  height: 2.25rem;
  line-height: 2.25rem;
  font-size: 0.8rem;
  padding-left: 0.5rem;
  position: relative;
}
.ui-server-header:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-server {
  display: block;
  background: #fff;
  position: relative;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.ui-server:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-server-avd {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 2.625rem;
  height: 2.625rem;
  margin-left: 0.5rem;
}
.ui-server-avd img {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  border: none;
}
.ui-server-avd i {
  position: absolute;
  display: block;
  color: #fff;
  background: #f43530;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  border-radius: 50%;
  right: -0.25rem;
  top: -0.25rem;
  text-align: center;
  font-size: 0.6rem;
}
.ui-server-content {
  display: inline-block;
  width: 12rem;
  height: 2.625rem;
  vertical-align: top;
}
.ui-server-content div {
  line-height: 1.1rem;
  height: 1.1rem;
  overflow: hidden;
  font-size: 0.75rem;
  color: #999999;
}
.ui-server-content em {
  font-size: 0.8rem;
  line-height: 1.375rem;
  color: #333333;
}
.ui-server-content span {
  color: #666666;
  font-size: 0.75rem;
  line-height: 1.375rem;
}
.ui-server-content time {
  float: right;
  color: #666666;
  font-size: 0.75rem;
  line-height: 1.375rem;
}
.ui-search-bar {
  background: #fff;
  width: 100%;
  height: 2.25rem;
  line-height: 2.25rem;
  z-index: 4;
  position: relative;
  color: #666666;
  font-size: 0.8rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: box;
}
.ui-search-bar:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-search-bar:before {
  z-index: 5;
}
.ui-area-selecter {
  width: 2.85rem;
}
.ui-area-selecter-title {
  display: inline-block;
}
.ui-area-selecter-title:after {
  content: "";
  width: 1rem;
  height: 0.75rem;
  display: inline-block;
  background-image: url(../images/select.png);
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.ui-area-selecter-parent {
  position: absolute;
  display: none;
  z-index: 4;
  left: 0;
  width: 50%;
  top: 2.275rem;
}
.ui-area-selecter-parent .active {
  color: #9cc75e;
}
.ui-area-selecter-parent li {
  position: relative;
  height: 2rem;
  color: #666666;
  line-height: 2rem;
  background: #f6f6f6;
  text-indent: 0.5rem;
  font-size: 0.75rem;
}
.ui-area-selecter-parent li:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  border-left: 1px solid #cccccc;
  top: 0;
  right: 0;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
  z-index: 3;
}
.ui-area-selecter-parent li:before {
  z-index: 5;
}
.ui-area-selecter-parent .active {
  color: #9cc75e;
  background: #fff;
  position: relative;
}
.ui-area-selecter-parent .active:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-area-selecter-parent .active:before {
  z-index: 5;
}
.ui-area-selecter-children {
  position: relative;
  position: absolute;
  display: none;
  z-index: 4;
  left: 50%;
  width: 50%;
  top: 2.275rem;
}
.ui-area-selecter-children:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-area-selecter-children:before {
  z-index: 5;
}
.ui-area-selecter-children li {
  background: #fff;
  height: 2rem;
  color: #333333;
  line-height: 2rem;
  text-indent: 0.5rem;
  font-size: 0.75rem;
}
.ui-area-selecter-children li:before {
  z-index: 5;
}
.ui-area-selecter-children .active {
  color: #9cc75e;
}
.ui-area-selecter-open .ui-area-selecter-title {
  color: #9cc75e;
}
.ui-area-selecter-open .ui-area-selecter-title:after {
  background-image: url(../images/select-active.png);
}
.ui-area-selecter-open .ui-area-selecter-children {
  display: block;
}
.ui-area-selecter-open .ui-area-selecter-parent {
  display: block;
}
.ui-search-box {
  position: relative;
  width: 11.95rem;
}
.ui-search-box input {
  width: 100%;
  background: #f2f2f2;
  height: 1.5rem;
  border-radius: 0.125rem;
  padding-left: 1.625rem;
  box-sizing: border-box;
}
.ui-filter-title {
  background: #f2f2f2;
  position: relative;
}
.ui-filter-title:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-filter-title ul {
  display: -webkit-box;
  display: box;
}
.ui-filter-title li {
  text-align: center;
  width: 4rem;
  line-height: 2rem;
  font-size: 0.8rem;
  color: #666666;
}
.ui-filter-title li:after {
  content: "";
  display: inline-block;
  background-image: url(../images/pt.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 0.2rem;
  width: 0.475rem;
  height: 0.325rem;
  background-size: 100%;
}
.ui-filter-selectbox {
  display: none;
  position: absolute;
  z-index: 4;
  width: 100%;
  text-indent: 20px;
}
.ui-filter-selectbox.open {
  display: block;
}
.ui-filter-selectbox li {
  position: relative;
  height: 2rem;
  line-height: 2rem;
  background: #fff;
  font-size: 0.75rem;
  color: #333333;
}
.ui-filter-selectbox li:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-filter-selectbox li:before {
  z-index: 5;
}
.ui-filter-selectbox .active {
  color: #9cc75e;
}
.ui-list {
  background: #fff;
}
.ui-doctor-bar-body {
  display: -webkit-box;
  display: box;
  position: relative;
}
.ui-doctor-bar-body:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-doctor-bar-avd {
  width: 3.5rem;
}
.ui-doctor-bar-avd i {
  display: block;
  font-size: 0.5rem;
  text-align: center;
  background: #fcb53a;
  color: #fff;
  width: 2.5rem;
  height: 0.6rem;
  line-height: 0.6rem;
  margin: 0 auto;
  border-radius: 0.125rem;
}
.ui-doctor-bar-avd img {
  display: block;
  border-radius: 50%;
  width: 2.625rem;
  height: 2.625rem;
  margin: 0.75rem auto 0.4rem;
}
.ui-doctor-bar-content {
  font-size: 0.7rem;
  color: #666666;
  padding-top: 0.5rem;
  width: 12.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
}
.ui-doctor-bar-content em {
  color: #333333;
  line-height: 1.375rem;
}
.ui-doctor-bar-content span {
  line-height: 1.375rem;
}
.ui-doctor-bar-content-text {
  line-height: 1rem;
}
.ui-doctor-bar-content-tips {
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  position: relative;
  margin-right: -0.5rem;
}
.ui-doctor-bar-content-tips:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-doctor-bar-content-tips i {
  display: block;
  float: left;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  line-height: 1rem;
  height: 1rem;
  background: #9cc75e;
  margin-right: 0.5rem;
  color: #fff;
  font-size: 0.6rem;
  border-radius: 0.125rem;
}
.ui-doctor-bar-footer {
  overflow: hidden;
}
.ui-doctor-icon-tel {
  display: block;
  float: left;
  background-size: 100%;
  background-image: url('../images/icon-tel.png');
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.ui-doctor-icon-doc {
  display: block;
  float: left;
  background-size: 100%;
  background-image: url('../images/icon-doc.png');
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.ui-doctor-icon-talk {
  display: block;
  float: left;
  background-size: 100%;
  background-image: url('../images/icon-talk.png');
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.ui-doctor-price {
  float: right;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
  color: #333333;
  font-size: 0.7rem;
}
.ui-hotwords {
  display: none;
}
.ui-hotwords.selected {
  display: block;
}
.ui-hotwords header {
  color: #666666;
  font-size: 0.75rem;
  height: 2rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  position: relative;
  box-sizing: border-box;
}
.ui-hotwords header:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-hotwords-box {
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
  background: #fff;
  position: relative;
}
.ui-hotwords-box:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-hotwords-box a {
  display: block;
  color: #999999;
  font-size: 0.7rem;
  position: relative;
  float: left;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  padding: 0 0.4rem;
  line-height: 1.45rem;
  height: 1.45rem;
}
.ui-hotwords-box a:before {
  content: "";
  display: block;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border: 1px solid #999999;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  border-radius: 0.5rem;
  z-index: 3;
  box-sizing: border-box;
}
.ui-hotwords-box .active {
  color: #9cc75e;
  position: relative;
}
.ui-hotwords-box .active:before {
  content: "";
  display: block;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border: 1px solid #9cc75e;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  border-radius: 0.5rem;
  z-index: 3;
  box-sizing: border-box;
}
.icon-search {
  display: block;
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  background-image: url(../images/searcher.png);
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0.75rem;
  left: 0.375rem;
}
.ui-cover-4 {
  background: #000;
  opacity: .5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.ui-noresult {
  background: #f2f2f2;
  font-size: 0.8rem;
  padding-top: 7.5rem;
  padding-bottom: 0.75rem;
  text-align: center;
  line-height: 1.25rem;
  background-image: url(../images/noresult.png);
  background-size: 3.5rem 5.25rem;
  background-repeat: no-repeat;
  background-position: center 1.75rem;
}
.ui-main-avd {
  text-align: center;
  font-size: 0.7rem;
  color: #fff;
  line-height: 1.65rem;
}
.ui-main-avd img {
  display: block;
  margin: 0 auto;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}
.ui-main-avd-name {
  font-size: 0.8rem;
}
.ui-main-avd-hos {
  display: inline-block;
  background: #9cc75e;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-radius: 0.825rem;
}
.ui-infor {
  padding: 0.75rem 0 0.75rem 0.5rem;
  background: #fff;
  position: relative;
}
.ui-infor:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-infor-tit {
  font-size: 0.8rem;
  color: #666666;
}
.ui-infor-p {
  font-size: 0.75rem;
  color: #333333;
  line-height: 1.25rem;
}
.ui-infor hr {
  border: none;
  border-bottom: 1px solid #ccc;
}
.ui-infor-table th,
.ui-infor-table td {
  border: 1px solid #ccc;
  font-size: 0.7rem;
  color: #999999;
}
.ui-infor-table th {
  width: 2.975rem;
  text-align: center;
}
.ui-infor-table td {
  width: 11.975rem;
  padding-left: 1.75rem;
  box-sizing: border-box;
}
.ui-block-mbt {
  margin-bottom: 0.75rem;
}
.ui-block-pbt {
  padding-bottom: 0.75rem;
}
.ui-block-bt {
  position: relative;
}
.ui-block-bt:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px solid #cccccc;
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-server-select-box {
  background: #fff;
  position: relative;
  box-sizing: border-box;
  display: -webkit-box;
  display: box;
  padding: 0.75rem 0.5rem;
  width: 100%;
  line-height: 1.25rem;
}
.ui-server-select-box:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-server-select-box img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}
.ui-server-select-content {
  position: relative;
  box-sizing: border-box;
  padding-left: 0.5rem;
  width: 12.5rem;
}
.ui-server-select-tit {
  font-size: 0.8rem;
  color: #333333;
}
.ui-server-select-tit i {
  display: inline-block;
  font-size: 0.5rem;
  color: #fff;
  background: #ff6666;
  vertical-align: middle;
  line-height: 0.8rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.125rem;
  margin-left: 0.25rem;
}
.ui-server-select-p {
  font-size: 0.75rem;
  color: #666666;
}
.ui-server-select-price {
  display: block;
  position: absolute;
  color: #ff0000;
  top: 0;
  right: 0;
}
.ui-server-select-deathtime {
  font-size: 0.8rem;
  color: #9cc75e;
  background: #fff;
  text-align: center;
  position: relative;
  line-height: 2.175rem;
}
.ui-server-select-deathtime:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-btn {
  display: block;
  margin: 0 auto;
  width: 15rem;
  text-align: center;
  color: #fff;
  background: #9cc75e;
  border-radius: 0.25rem;
  line-height: 2.2rem;
  height: 2.2rem;
  font-size: 0.8rem;
}
.order-box {
  background: #fff;
}
.order-box-header {
  font-size: 0.75rem;
  height: 2.25rem;
  line-height: 2.25rem;
  padding-left: 0.5rem;
  box-sizing: border-box;
  position: relative;
}
.order-box-header:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.order-box-content {
  display: -webkit-box;
  display: box;
  line-height: 1.25rem;
  padding: 0.75rem 0.5rem;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.order-box-content:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.order-box-content-info {
  padding-left: 0.5rem;
}
.order-box-content img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}
.order-box-tit {
  color: #333333;
  font-size: 0.8rem;
}
.order-box-p {
  font-size: 0.75rem;
  color: #666666;
}
.order-box-payline {
  position: relative;
  font-size: 0.75rem;
  line-height: 2.5rem;
  height: 2.5rem;
  color: #666666;
  padding-left: 0.5rem;
}
.order-box-payline:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.order-box-payline span {
  font-size: 0.85rem;
  color: #333333;
}
.order-box-state-has {
  display: inline-block;
  font-size: 0.8rem;
  float: right;
  margin-right: 0.5rem;
  text-align: center;
  width: 4.5rem;
  height: 1.65rem;
  line-height: 1.65rem;
  vertical-align: middle;
  margin-top: 0.4rem;
  color: #666666;
  position: relative;
}
.order-box-state-has:before {
  content: "";
  display: block;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border: 1px solid #666666;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  border-radius: 0.5rem;
  z-index: 3;
  box-sizing: border-box;
}
.order-box-state-wait {
  display: inline-block;
  font-size: 0.8rem;
  float: right;
  margin-right: 0.5rem;
  text-align: center;
  width: 4.5rem;
  height: 1.65rem;
  line-height: 1.65rem;
  vertical-align: middle;
  margin-top: 0.4rem;
  color: #9cc75e;
  position: relative;
}
.order-box-state-wait:before {
  content: "";
  display: block;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border: 1px solid #9cc75e;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  border-radius: 0.5rem;
  z-index: 3;
  box-sizing: border-box;
}
.ui-topay {
  background: #fff;
  position: relative;
}
.ui-topay:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-topay-nums {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  position: relative;
  line-height: 3rem;
  height: 3rem;
}
.ui-topay-nums:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-topay-btn-group {
  position: relative;
  display: -webkit-box;
  display: box;
  float: right;
  line-height: 1.95rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.ui-topay-btn-group:before {
  content: "";
  display: block;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border: 1px solid #cccccc;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  border-radius: 0.25rem;
  z-index: 3;
  box-sizing: border-box;
}
.ui-topay-btn-group span {
  display: block;
  width: 3.45rem;
  text-align: center;
}
.ui-topay-btn-group .remove {
  display: block;
  text-align: center;
  line-height: 1.95rem;
}
.ui-topay-btn-group .remove:before {
  display: block;
  position: absolute;
  content: "";
  border: 1px solid #999999;
  width: 0.9rem;
  height: 0;
  top: 0.95rem;
  left: 0.5rem;
}
.ui-topay-btn-group .add:before {
  display: block;
  position: absolute;
  content: "";
  border: 1px solid #999999;
  width: 0.9rem;
  height: 0;
  top: 0.95rem;
  left: 0.5rem;
}
.ui-topay-btn-group .add:after {
  display: block;
  position: absolute;
  content: "";
  border: 1px solid #999999;
  width: 0.9rem;
  height: 0;
  top: 0.95rem;
  left: 0.5rem;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ui-topay-btn {
  position: relative;
  display: block;
  width: 1.975rem;
}
.ui-topay-btn-remove {
  position: relative;
}
.ui-topay-btn-remove:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  border-left: 1px solid #cccccc;
  top: 0;
  right: 0;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
  z-index: 3;
}
.ui-topay-btn-add {
  position: relative;
}
.ui-topay-btn-add:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  border-right: 1px solid #cccccc;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  transform: scaleX(0.5);
  z-index: 3;
}
.ui-topay-death {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  line-height: 2.25rem;
  height: 2.25rem;
}
.ui-topay-death time {
  float: right;
  margin-right: 0.5rem;
}
.ui-checked {
  background: #fff;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  line-height: 2.25rem;
  height: 2.25rem;
  position: relative;
}
.ui-checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-checked-price {
  float: right;
  color: #ff0000;
  margin-right: 0.5rem;
}
.ui-item {
  position: relative;
  background: #fff;
  padding-left: 0.5rem;
  color: #333333;
  font-size: 0.7rem;
  display: block;
  line-height: 2.5rem;
  height: 2.5rem;
}
.ui-item:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-item:after {
  content: "";
  display: block;
  width: 0.375rem;
  height: 100%;
  background-image: url(../images/pr.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  float: right;
  margin-right: 0.5rem;
}
.icon-info {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../images/user-info.png');
  background-size: 100%;
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.25rem;
}
.icon-order {
  display: inline-block;
  vertical-align: middle;
  background-image: url('../images/user-order.png');
  background-size: 100%;
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.25rem;
}
.ui-orderitem {
  display: -webkit-box;
  display: box;
  width: 15.5rem;
  line-height: 2rem;
  font-size: 0.75rem;
  color: #999999;
  position: relative;
}
.ui-orderitem:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-orderitem-group {
  padding-left: 0.5rem;
  background: #fff;
  position: relative;
}
.ui-orderitem-group:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #cccccc;
  top: 100%;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-orderitem-first-view {
  width: 15.5rem;
  text-align: center;
  font-size: 2.5rem;
  line-height: 5rem;
  color: #333333;
}
.ui-orderitem span {
  display: block;
  width: 4rem;
}
.ui-orderitem-title {
  font-size: 0.7rem;
  color: #333333;
  line-height: 2.5rem;
}
.ui-orderitem img {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  margin-right: 0.5rem;
}
.ui-orderitem-avd {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.ui-orderitem-content {
  text-align: right;
  width: 11rem;
  color: #333333;
}
.ui-payresult {
  margin: 0.75rem 0.5rem;
  border: 1px solid #ccc;
  border-bottom: 0 none;
  background: #fff;
  padding: 0.45rem;
  position: relative;
}
.ui-payresult:after {
  position: absolute;
  content: "";
  display: block;
  background-image: url('../images/doorsborder.png');
  height: 0.25rem;
  width: 100%;
  background-repeat: repeat-x;
  background-size: auto 100%;
  left: 0;
  bottom: 0;
  background-color: #f6f6f6;
}
.ui-payresult-header {
  height: 0;
  overflow: hidden;
}
.ui-payresult-time {
  display: -webkit-box;
  display: box;
  line-height: 1rem;
}
.ui-payresult-time time {
  display: block;
  width: 50%;
  font-size: 0.7rem;
  color: #999999;
}
.ui-payresult-title {
  font-size: 0.8rem;
  color: #999999;
  line-height: 1.6rem;
  border-bottom: 1px dashed #ccc;
}
.ui-payresult-title span {
  color: #333333;
}
.ui-payresult-suc {
  text-align: center;
  border-bottom: 1px dashed #ccc;
  padding-top: 4.25rem;
  line-height: 4.75rem;
  font-size: 0.85rem;
  background-image: url(../images/payresult-suc.png);
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: center 2.3rem;
}
.ui-payresult-suc span {
  color: #9cc75e;
}
.ui-payresult-err {
  text-align: center;
  border-bottom: 1px dashed #ccc;
  padding-top: 4.25rem;
  line-height: 4.75rem;
  font-size: 0.85rem;
  background-image: url(../images/payresult-err.png);
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: center 2.3rem;
}
.ui-payresult-err span {
  color: #f33;
}
.ui-payresult footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #999999;
  line-height: 1.25rem;
}
.ui-payresult footer div {
  display: -webkit-box;
  display: box;
}
.ui-payresult footer span {
  display: block;
  width: 30%;
  font-size: 0.75rem;
}
.ui-payresult footer .ui-payresult-price {
  text-align: right;
  width: 70%;
  color: #f33;
  font-size: 1.2rem;
}
.ui-payresult footer .ui-payresult-p {
  text-align: right;
  width: 70%;
  color: #333333;
}
.ui-btn-group {
  display: -webkit-box;
  display: box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.ui-btn-d {
  width: 7.25rem;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
  background: #9cc75e;
  line-height: 2.2rem;
  border-radius: 0.25rem;
}
.ui-btn-back {
  margin-right: 0.5rem;
  background: #fcb53a;
}
.ui-common-tr {
  text-align: right;
}
.m-Nav-top {
  text-align: center;
  font-size: 0.7rem;
  color: #fff;
  height: 42px;
  line-height: 42px;
  position: relative;
  background: #f9a518;
  background-size: 0.25rem;
  background-position: 0.3rem 0.3rem;
}
.m-Nav-top .share {
  display: block;
  position: absolute;
  top: 0rem;
  right: 0.5rem;
}
.m-Nav-top .share span {
  color: #fff;
}
.m-Nav-top .share .sga-img {
  vertical-align: sub;
  width: 0.85rem;
  height: 0.8rem;
  margin-right: 0.125rem;
}
.ui-box {
  margin-bottom: 0.875rem;
}
.ui-box:first-of-type {
  margin-top: 0.875rem;
}
.ui-box-more {
  text-align: center;
}
.more {
  font-size: 0.65rem;
  color: #fff;
  background: #cfcfcf;
  display: inline-block;
  padding: 0 0.25rem;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  border-radius: 0.125rem;
  line-height: 1.8;
  box-sizing: border-box;
  max-width: 15rem;
}
.talk-re {
  overflow: hidden;
}
.talk-re .adv {
  float: right;
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
}
.talk-re p {
  position: relative;
  font-size: 0.75rem;
  color: #fff;
  background: #9cc75e;
  float: right;
  max-width: 10.375rem;
  margin-right: 1rem;
  padding: 0.7rem 0.75rem;
  box-sizing: border-box;
  line-height: 1rem;
  border-radius: 0.375rem;
  z-index: 5;
  word-break: break-all;
}
.talk-re p:before {
  display: block;
  position: absolute;
  content: "";
  border-top: 0.525rem solid #9cc75e;
  border-right: 0.45rem solid transparent;
  right: -0.45rem;
  top: 0.5rem;
  z-index: 1;
}
.talk-re p:after {
  display: block;
  position: absolute;
  content: "";
  border-bottom: 0.125rem solid #f4f4f5;
  border-right: 0.45rem solid #f4f4f5;
  right: -0.45rem;
  top: 0.5rem;
  z-index: 2;
  border-radius: 0 0 100% 0;
}
.talk-re p img {
  width: 5rem;
  height: auto;
  margin: 0;
  border-radius: 0.375rem;
}
.talk-re .talk-p {
  position: relative;
  font-size: 0.75rem;
  color: #333333;
  float: right;
  max-width: 10.375rem;
  box-sizing: border-box;
  line-height: 1rem;
  border-radius: 0.375rem;
  z-index: 5;
  word-break: break-all;
}
.talk-re .mc {
  right: 0.5rem;
}
.talk-re .bm {
  right: 0.475rem;
}
.talk-re .talk-amc {
  right: 0.5rem;
}
.talk-se {
  overflow: hidden;
}
.talk-se .adv {
  width: 2rem;
  height: 2rem;
  float: left;
  margin-left: 0.5rem;
}
.talk-se p {
  position: relative;
  font-size: 0.75rem;
  color: #333333;
  background: #fff;
  float: left;
  max-width: 10.375rem;
  margin-left: 1rem;
  padding: 0.7rem 0.75rem;
  box-sizing: border-box;
  line-height: 1rem;
  border-radius: 0.375rem;
  z-index: 5;
  word-break: break-all;
}
.talk-se p:before {
  display: block;
  position: absolute;
  content: "";
  border-top: 0.525rem solid #ffffff;
  border-left: 0.45rem solid transparent;
  left: -0.45rem;
  top: 0.5rem;
  z-index: 1;
}
.talk-se p:after {
  display: block;
  position: absolute;
  content: "";
  border-bottom: 0.125rem solid #f4f4f5;
  border-left: 0.45rem solid #f4f4f5;
  left: -0.45rem;
  top: 0.5rem;
  z-index: 2;
  border-radius: 0 0 0 100%;
}
.talk-se p img {
  width: 5rem;
  height: auto;
  margin: 0;
  border-radius: 0.375rem;
}
.talk-se .talk-p {
  position: relative;
  font-size: 0.75rem;
  color: #333333;
  float: left;
  max-width: 10.375rem;
  box-sizing: border-box;
  line-height: 1rem;
  border-radius: 0.375rem;
  z-index: 5;
  word-break: break-all;
}
.talk-se .mc {
  left: 0.5rem;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.talk-se .bm {
  left: 0.475rem;
}
.talk-se .talk-amc {
  left: 0.5rem;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.talk-amc {
  background: url("../images/talk-zmc.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: 0.775rem;
  height: 0.4rem;
  bottom: -0.025rem;
  z-index: 6;
}
.mc {
  position: absolute;
  top: -0.025rem;
  z-index: 6;
  height: 0.85rem;
  width: 0.85rem;
  background-image: url("../images/am2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.bm {
  background: #f4f4f5;
  position: absolute;
  top: 0.825rem;
  z-index: 6;
  height: 100%;
  width: 0.475rem;
}
.js-img {
  width: 5rem;
  height: auto;
  margin: 0;
  display: block;
  border-radius: 0.375rem;
  margin-left: 0.525rem;
  margin-right: 0.525rem;
}
.jo-img {
  width: 5rem;
  height: auto;
  margin: 0;
  display: block;
  border-radius: 0.375rem;
  margin-left: 0.525rem;
  margin-right: 0.525rem;
}
.talk-p {
  position: relative;
}
.talk-img p {
  padding: 0;
}
.talk-img p:before {
  display: none;
}
.talk-img p:after {
  display: none;
}
.time-tip {
  font-size: 0.55rem;
  color: #b3b3b3;
  text-align: center;
}
.bottom-form {
  padding-top: 0.375rem;
  padding-bottom: 0.4rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #ebebeb;
  border-top: 1px solid #ccc;
  z-index: 10;
}
.bottom-form [type="file"] {
  display: none;
}
.bottom-form label {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../images/cam.png);
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  margin-left: 0.375rem;
  margin-top: 0.05rem;
}
.bottom-form input {
  margin-left: 0.375rem;
  width: 10.75rem;
  height: 1.6rem;
  line-height: 1.125rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  border: 1px solid #999999;
  font-size: 0.65rem;
  text-indent: 0.375rem;
  display: block;
  float: left;
  color: #333333;
}
.bottom-form a {
  display: block;
  float: left;
  margin-left: 0.375rem;
  height: 1.5rem;
  width: 2.25rem;
  font-size: 0.65rem;
  color: #fff;
  text-align: center;
  background: #9cc75e;
  line-height: 1.5rem;
  text-decoration: none;
  border-radius: 0.25rem;
  margin-top: 0.05rem;
}
.img-cover-bg {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  display: table;
  width: 100%;
  height: 100%;
}
.img-cover-bg .img-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.img-cover-bg img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.container-pb {
  padding-bottom: 2.5rem;
}
.ui-sendform {
  background: #fff;
  width: 15rem;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  padding: 0.5rem 0.5rem 0;
}
.ui-sendform:before {
  content: "";
  display: block;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  border: 1px solid #cccccc;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  border-radius: 0.25rem;
  z-index: 3;
  box-sizing: border-box;
}
.ui-sendform-tit {
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.ui-sendform-p {
  font-size: 0.7rem;
  color: #666666;
  line-height: 1.2rem;
}
.ui-sendform a {
  display: block;
  position: relative;
  line-height: 1.65rem;
  color: #9cc75e;
  font-size: 0.75rem;
}
.ui-sendform a:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px solid #cccccc;
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 3;
}
.ui-sendform a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 0.375rem;
  height: 100%;
  background-image: url(../images/pr.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
